@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply font-montserrat bg-[#1A191D];
  }
}

.home {
  position: relative;
  background: url("../assets/images/bg-home.jpg") center;
  background-size: cover;
  max-width: 100%;
}

.divider {
  position: absolute;
  bottom: -7rem;
  background: linear-gradient(
    180deg,
    rgba(26, 25, 29, 0) 0%,
    #1a191d 50%,
    #1a191d 100%
  );
}

.section-title {
  @apply text-brand text-3xl font-semibold mb-6 text-center;
}
